.footer {
    background-color: #333;
    color: #ccc;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #388e3c;
}
.footer p {
    margin: 5px 0;
}

.about-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.about-section h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #333;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-text{
    flex: 1 1 400px;
    max-width: 600px;
    text-align: left;
    line-height: 1.8;
    color: #555;
}

.about-text p {
    margin-bottom: 15px;
}

.about-image{
    flex: 1 1 300px;
    max-width: 400px;
}

.about-image img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-btn {
    background-color: #4caf50;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

.search-btn:hover{
    background-color: #45a049;
}